In [1]:
import pandas as pd
import numpy as np

In [2]:
apply_train = pd.read_csv('./data/apply_train.csv')
company = pd.read_csv('./data/company.csv')
recruitment = pd.read_csv('./data/recruitment.csv')
resume_certificate = pd.read_csv('./data/resume_certificate.csv')
resume_education = pd.read_csv('./data/resume_education.csv')
resume_language = pd.read_csv('./data/resume_language.csv')
resume = pd.read_csv('./data/resume.csv')

In [3]:
apply_train.head()

  resume_seq recruitment_seq
0     U05833          R03838
1     U06456          R02144
2     U07807          R01877
3     U04842          R02463
4     U08336          R00112